
body {
 
  background-image: url(image-home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    z-index: 99999;
}
.load-gif {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 150px;
    height: 150px;
    -webkit-animation: rotate-center 1s ease-in-out both;
	        animation: rotate-center 1s ease-in-out both;
}
.load-gif-text {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 120px;
    height: 120px;
    
}
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
nav ul li {
  font-size: 22px;
  
}
.nav-link:hover{
  color: white !important;
  margin: 5%;
  border-bottom: 2px solid #0091FF !important;
  
}
.nav-link{
  color: white !important;
  margin: 5%;
}
#text-nav{
  margin-left: 10%;
}
.digital{
  margin-top: 50%;
  
  color: white;
  font-size: 68px;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  
}
.btn-outline-danger{
  font-size: 32px !important;
  border-color: #0091FF !important;
  color: white !important;
  border: 3px solid#0091FF !important;
  margin-bottom: 10%;
}
.btn-outline-danger:hover{
  font-size: 32px !important;
  border-color: black !important;
  color: white !important;
  background-color: #0091FF !important;
  border: 3px solid #000000 !important;
  margin-bottom: 10%;
  transition: ease-in-out;
  transition-duration: 0.5s;
}
.card-body{
  background-color: #050505 !important;
  color: white !important;
}
.card-body:hover{
  background-color: #0091FF !important;
  color: white !important;
  transition: ease-in;
  transition-duration: 0.5s;
}
.card{
  border: #3e3636 !important;
  margin-top: 20%;
  background-color:#0091FF !important ;
  margin-bottom: 20%;
  
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.border-title{
  border-bottom: 1px solid #0091FF;
}
#Works-slider{
  background-color: #050505 ;
  padding-top:2%;
}
#heading-works{
  color: white;
  font-family: 'Bebas Neue', cursive;
  font-size: 48px !important;
}
#t-works{
  font-family: 'Bebas Neue', cursive;
  color: #0091FF;
  font-size: 24px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: white;
  padding-top: 50px;
}


.modal-content {
  background-color: white;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  width: 80%; /* Could be more or less, depending on screen size */
  border: none !important;
}
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.text-form{
  margin-bottom: 4%;
  
}
