
body {
 
  background-image: url(image-home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    z-index: 99999;
}

.load-gif {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 150px;
    height: 150px;
    -webkit-animation: rotate-center 1s ease-in-out both;
	        animation: rotate-center 1s ease-in-out both;
}

.load-gif-text {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 120px;
    height: 120px;
    
}


@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}


nav ul li {
  font-size: 22px;
  
}
.nav-link:hover{
  color: white !important;
  padding: 5%;
  border-bottom: 2px solid #ff1f5a !important;
}
.nav-link{
  color: white !important;
  padding: 5%;
}
#text-nav{
  margin-left: 10%;
}
.digital{
  margin-top: 50%;
  
  color: white;
  font-size: 68px;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  
}
.btn-outline-danger{
  font-size: 32px !important;
  border-color: #fc5185 !important;
  color: white !important;
  border: 3px solid #ff1f5a !important;
  
  margin-bottom: 10%;
}
.btn-outline-danger:hover{
  font-size: 32px !important;
  border-color: #fc5185 !important;
  color: white !important;
  background-color: black !important;
  border: 3px solid #ff1f5a !important;
 
  margin-bottom: 10%;
}
.card-body{
  background-color: #050505 !important;
  padding: 50px !important;
  color: white !important;
}
.card-body:hover{
  background-color: #ff1f5a !important;
  padding: 50px !important;
  color: white !important;
  -webkit-animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
.card{
  border: #3e3636 !important;
  margin-top: 20%;
  background-color:#ff1f5a !important ;
  
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.border-title{
  border-bottom: 1px solid #ff1f5a;
}